<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.blueprints.mapper.BlueprintsCollectMapper">
    
    <resultMap type="BlueprintsCollect" id="BlueprintsCollectResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="blueprintsId"    column="blueprints_id"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectBlueprintsCollectVo">
        select id, user_id, blueprints_id, del_flag, create_by, create_time, update_by, update_time from blueprints_collect
    </sql>



</mapper>